<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informações do Cachorro</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="navbar">
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'raca_lista' %}">Raças</a>
        <a href="{% url 'cachorro_lista' %}">Cachorros</a>
    </div>
    <div class="container">
        <h1>Informações do Cachorro</h1>
        <p><strong>Nome:</strong> {{ cachorro.nome }}</p>
        <p><strong>Idade:</strong> {{ cachorro.idade }} anos</p>
        <p><strong>Raça:</strong> {{ cachorro.raca.nome }}</p>
        <p><strong>Origem da Raça:</strong> {{ cachorro.raca.origem }}</p>
        <p><strong>Temperamento da Raça:</strong> {{ cachorro.raca.temperamento }}</p>
        <p><strong>Descrição:</strong> {{ cachorro.descricao }}</p>
        <a href="{% url 'cachorro_update' cachorro.pk %}">Editar</a>
        <form action="{% url 'cachorro_delete' cachorro.pk %}" method="post">
            {% csrf_token %}
            <button type="submit">Excluir</button>
        </form>
        <a href="{% url 'cachorro_lista' %}">Voltar à lista</a>
    </div>
</body>
</html>
