<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar/Editar Cachorro</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>{% if form.instance.pk %}Editar{% else %}Adicionar{% endif %} Cachorro</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Salvar</button>
        </form>
        <a href="{% url 'cachorro_lista' %}">Voltar à lista de cachorros</a>
    </div>
</body>
</html>
